body{
    margin-top:5%;
    background-image:url(../assets/jpg/campanile.jpg);
    background-repeat:no-repeat;
}
h1{
    font-size: 20px;
    margin: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.container{
    padding: 40px;
    background-color:rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 2px 3px 3px 0 #1C1A19;
    box-shadow: 2px 3px 3px 0 #1C1A19;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}